header {
    background: #000000;
    padding: 20px 0;
}

.menu {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.menu h1 img {
    width: 450px;

}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav a:hover {
    color: #c78c19;
    text-decoration: line-through;
}

nav li {    
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

#form1 form fieldset{
    background: white;
    display: inline-block;
}

#form2 {
    background: none;
    display: inline;
}




footer {
    text-align: center;
    background: url("img/bg.jpg");
    padding: 40px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}